.holiday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

  h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  td {
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .user,
  .head,
  .btn {
    font-size: small;
  }
}
